.admin-main-content {
  flex: 1;
  margin-left: 280px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .admin-main-content {
    margin-left: 250px;
  }
}
@media (max-width: 992px) {
  .admin-main-content {
    margin-left: 80px;
  }
}
@media (max-width: 768px) {
  .admin-main-content {
    margin-left: 0;
  }
}