.bg-dark-blue {
  background-color: #1C3B4E;
}

.bg-light-blue {
  background-color: #93BDCC;
}

/* Botón volver */
.volver-btn {
  position: absolute;
  left: 0px;
  top: 30px;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  transition: opacity 0.3s;
}

.text-center{
  font-weight: lighter;
  font-size: small;
}

.volver-btn:hover {
  opacity: 0.8;
}

/* Título */
.recuperar-titulo::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 3px;
  background: white;
}

/* Responsivo */
@media (max-width: 768px) {
  .volver-btn {
    left: 20px;
    top: 20px;
    font-size: 1.1rem;
  }

  .recuperar-box {
    padding: 2.5rem 2rem;
  }

  .recuperar-titulo::after {
    width: 120px;
  }
}
