.performance-section {
  background-color: #fff3e3;
  color: #000;
}

.performance-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.performance-text {
  font-size: 1.1rem;
  line-height: 1.6;
}

.performance-img {
  max-width: 400px;
}

.btn-warning {
  background-color: #edc04e !important;
  border: none;
}

.btn-warning:hover {
  background-color: #d6a632 !important;
}
