.auth-page {
  background-color: #1c3b4e;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



.auth-card {
  max-width: 500px;
  width: 100%;
  background-color: #93bdcc;
}

.auth-card h2 {
  color: #fff;
}

.btn-warning {
  background-color: #edc04e;
  border: none;
  transition: 0.3s;
}

.btn-warning:hover:not(:disabled) {
  background-color: #d6a632;
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(237, 192, 78, 0.4);
}

.btn-warning:disabled {
  background-color: #c9b176;
  cursor: not-allowed;
}

input.form-control {
  padding: 0.9rem 1.2rem;
  border-radius: 12px;
}

input.form-control:focus {
  border-color: #edc04e;
  box-shadow: 0 0 0 3px rgba(237, 192, 78, 0.1);
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #1c3b4e !important;
}

.auth-page {
  background-color: #1c3b4e !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
