.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.layout__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.layout__content {
  padding-top: 0;
}
.layout--fixed-header .layout__content {
  padding-top: 80px;
}
