.footer {
  background-color: #93BDCC;
}

.footer-link {
  font-weight: 400;
  font-size: 1rem;
  transition: opacity 0.3s;
}

.footer-link:hover {
  opacity: 0.8;
}

.footer-year {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0 25px;
}

/* Responsivo */
@media (max-width: 768px) {
  .footer-year {
    margin: 10px 0;
  }
}
