.timer-circle {
  width: 290px;
  height: 290px;
}

.opciones-timer {
  max-width: 950px;
}

@media (max-width: 768px) {
  .timer-circle {
    width: 220px;
    height: 220px;
  }

  .opciones-timer {
    flex-direction: column;
    gap: 1rem;
    width: 90% !important;
  }

  .btn {
    font-size: 1rem;
  }
}
