/* Paleta personalizada */
.custom-select,
.custom-input {
  background-color: #F6DA99;
  border: none;
  border-radius: 10px;
  color: #000;
  transition: background 0.3s;
}

.custom-select:hover,
.custom-input:hover,
.custom-input:focus {
  background-color: #f0ce7f;
  box-shadow: 0 0 0 3px rgba(212, 165, 32, 0.3);
  outline: none;
}

/* Tarjetas */
.card-actividad {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-actividad:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Favoritos */
.favorite-icon {
  font-size: 26px;
  color: #ddd;
  transition: all 0.3s ease;
}

.favorite-icon.favorito-activo {
  color: #FFD700;
}

.favorite-btn:hover .favorite-icon {
  transform: scale(1.2);
}

/* Responsivo */
@media (max-width: 768px) {
  .custom-select,
  .custom-input {
    width: 100%;
  }
}
